<p>
  bind works!
</p>

<button (click)="doOnClick($event)">Click Me</button>

<hr>

<img [src]="imgUrl">

<hr>

<img src="{{imgUrl}}" alt="">

<hr>

<input type="text" value="Tom" (input)="doOnInput($event)" >

<button disabled>button</button>


<hr>

<table>
  <tr>
    <!--<td colspan="{{1+1}}">Rick Huang</td>-->

    <!--colspan is html attribute -->
    <td [attr.colspan]="size">Rick Huang</td>
  </tr>
</table>


<hr>

<div [class]="divClass">class</div>

<hr>

<div class="a b" [class.c]="isBig">class.big</div>

<hr>

<div [ngClass]="divClass1">ngClass</div>

<hr>

<div [style.color]="isDev ? 'red' : 'blue'">style.color</div>

<hr>

<div [style.font-size.em]="isDev ? '3' : 1">style.font-size.em</div>

<hr>

<div [ngStyle]="divStyle">divStyle</div>

<hr>

<input type="text" [value]="name1" (input)="doOnInput1($event)"> {{name1}}

<hr>

<!--<input [(ngModel)]="name1"> {{name1}}-->



































