<a [routerLink]="['/home']">Homepage</a>

<!--the first one-->
<!--<a [routerLink]="['/stock']" [queryParams]="{id:1}">StockPage</a>-->

<!--the second one-->
<a [routerLink]="['/stock', 1]">StockPage</a>
<input type="button" value="stock info" (click)="toStockDetail()"  >

<!--<a [routerLink]="[{outlets: {aux: 'consult'}}]"></a>-->
<a [routerLink]="[{outlets: {primary: 'home', aux: 'consult'}}]">Begin Consult</a>
<a [routerLink]="[{outlets: {aux: null}}]">End Consult</a>

<router-outlet></router-outlet>

<!--the auxiliary router -->
<router-outlet name="aux"></router-outlet>
